@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Trinos";
  src: url("/fonts/TrinosStencil-7BRLE.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

html,
body {
  min-height: 100%;
}

.title {
  text-align: center;
  font-size: 2em;
  font-family: "Trinos";
  font-weight: bold;
}

.main-title {
  margin-top: 10px;
  font-size: 4em;
  color: #e0ffff;
}

header {
  background-image: url("images/header_background.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

nav {
  border-bottom: 1px solid white;
}

nav ul {
  padding: 30px;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  color: white;
}

nav a:hover {
  border-bottom: 1px solid #d3d3d3;
  color: #d3d3d3;
}

.btn-container {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.btn {
  font-weight: bold;
  border: 1px solid #191919;
  border-radius: 10px;
  cursor: pointer;
}

.header-btn {
  padding: 10px 30px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  transition: all 0.3s ease-in-out;
}

.header-btn:hover {
  background-color: rgba(0, 12, 60, 0.2);
}

.main-container {
  width: 80%;
  margin: 30px auto;
}

.section-title {
  font-family: "Poppins";
  font-weight: normal;
  color: #333;
  text-align: center;
  font-size: 2.5em;
}

.paragraph {
  font-size: 1.2em;
  line-height: 1.6;
  color: #333;
  text-align: justify;
  margin: 20px 0;
}
