@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Trinos";
  src: url("/fonts/TrinosStencil-7BRLE.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

html,
body {
  min-height: 100%;
}

.title {
  text-align: center;
  font-size: 2em;
  font-family: "Trinos";
  font-weight: bold;
}

.main-title {
  margin-top: 10px;
  font-size: 4em;
  color: #e0ffff;
}

header {
  background-image: url("images/header_background.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  padding-bottom: 10px;
}

nav {
  border-bottom: 1px solid white;
}

ul {
  padding: 30px;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  color: white;
}

nav a:hover {
  border-bottom: 1px solid #d3d3d3;
  color: #d3d3d3;
}

.btn-container {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.btn {
  font-weight: bold;
  border: 1px solid #191919;
  border-radius: 10px;
  cursor: pointer;
}

.header-btn {
  padding: 10px 30px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  transition: all 0.3s ease-in-out;
}

.header-btn:hover {
  background-color: rgba(0, 12, 60, 0.2);
}

.main-container {
  width: 80%;
  margin: 30px auto;
}

.section-title {
  font-family: "Poppins";
  font-weight: normal;
  color: #333;
  text-align: center;
  font-size: 2.5em;
}

.paragraph {
  font-size: 1.2em;
  line-height: 1.6;
  color: #333;
  text-align: justify;
  margin: 20px 0;
}

.items {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  max-width: 45%;
  text-align: center;
  margin-bottom: 30px;
}

.item-title {
  text-align: center;
  font-weight: normal;
  font-size: 1.5em;
  color: #333;
  margin-bottom: 5px;
}

.item-price-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-price {
  font-size: 1.2em;
  font-weight: 600;
}

.item-btn {
  padding: 5px 20px;
  border: 2px solid #152888ab;
  background-color: #297fe2;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.item-btn:hover {
  background-color: #297fe2be;
}

footer {
  background-color: #297fe2;
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  align-items: center;
  color: #fff;
}

footer a {
  display: flex;
  margin-right: 30px;
  padding: 10px;
  border-radius: 20%;
  background-color: #3333331e;
  transition: all 0.3s ease-in-out;
}

footer a:hover {
  background-color: #33333364;
}

.content-section {
  display: flex;
  align-items: center;
  gap: 30px;
}

.aboutus-band {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contactus-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactus-form {
  width: 100%;
  max-width: 500px;
  padding: 40px 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

.form-item label {
  margin-bottom: 8px;
  font-weight: lighter;
}

.form-item input,
.form-item textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline-color: #121212;
}

.form-btn {
  padding: 10px 20px;
  background-color: #297fe2;
  color: white;
  width: 100%;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.form-btn:hover {
  background-color: #297fe2be;
}

@media (max-width: 768px) {
  .item {
    max-width: 100%;
  }
}

@media (max-width: 900px) {
  .content-section {
    display: block;
    text-align: center;
  }

  .aboutus-band {
    margin-top: 30px;
  }
}
